body {
    font-family: Figtree, sans-serif;
    margin: 0;
    background-color: #06171E;
    color: white;
}

.logo_header {
    height: 41px;
}


header {
    background-color: #09212A;
    padding: 20px 140px;
    display: flex;
    align-items: center;
    height: fit-content;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    font-size: 56px;
    padding-bottom: 50px;
}

main {
    padding: 90px 140px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    min-height: 100%;
}

.gallery {
    display: block;

}

.img-link {
    overflow-clip-margin: unset;
    text-decoration: none;
    display: inline-flex;
}

.photo {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 16px;
    border-color: #124658;
    border-style: solid;
    border-width: 2px;
    margin: 24px 8px;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.photo:hover {
    border-color: white;
    -webkit-transform: scale(1.3);
    transform: scale(1.2);
}

dialog {
    background-color: #06171E;
    box-sizing: border-box;
    border-radius: 40px;
    overscroll-behavior: contain;
}

dialog img {
    height: 50vh;
    width: 70vb;
    object-fit: cover;
}

dialog::backdrop {
    background-color: #337599;
    opacity: 0.5;
    overflow: hidden;
    overscroll-behavior: contain;
}

dialog figcaption {
    font-size: 24px;
    color: white;
    text-align: left;
    padding-bottom: 20px;
    font-weight: 700;
}

dialog button {
    cursor: pointer;
    background-color: #06171E;
    border-style: none;
}

.close-button {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 30px;
    right: 50px;

}

.close {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;

}


.prev {
    height: 40px;
    width: 40px;
}

.next {
    height: 40px;
    width: 40px;
}

footer {
    box-sizing: border-box;
    background-color: #09212A;
    padding: 40px 140px;
    color: #627B84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: min-content;

}

footer p {
    margin: 0;
}

.logo_footer {
    height: 32px;
    padding-bottom: 20px;
}

@media (max-width: 360px) {
    header {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 36px;
    }

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 50px 8px;
    }

    .photo {
        margin: 8px 8px;
    }

    dialog img {
        height: 300px;
        width: 200px;
        object-fit: cover;
    }

    figure {
        margin: 16px 8px 8px 8px;
        display: inline-block;
    }

    dialog figcaption {
        font-weight: 500;
        font-size: 20px;
        margin: 0;
        padding-top: 40px;
        width: 70%;
    }

    .close-button {
        top: 20px;
        right: 20px;
    }


    footer {
        padding: 20px;
        bottom: auto;
    }
}

@media (min-width: 361px) and (max-width: 400px) {
    header {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 36px;
    }

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 50px 8px;
    }

    .photo {
        margin: 8px 8px;
    }

    dialog img {
        height: 300px;
        width: 250px;
        object-fit: cover;
    }

    figure {
        margin: 16px 8px 8px 8px;
        display: inline-block;
    }

    dialog figcaption {
        font-weight: 500;
        font-size: 20px;
        margin: 0;
        padding-top: 20px;
        width: 60%;
    }

    .close-button {
        top: 20px;
        right: 20px;
    }


    footer {
        padding: 20px;
        bottom: auto;
    }
}

@media (min-width: 401px) and (max-width: 700px) {
    header {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 48px;
    }

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 50px 8px;
    }

    .photo {
        margin: 8px 8px;
    }

    dialog img {
        height: 375px;
        width: 300px;
        object-fit: cover;
    }

    figure {
        margin: 16px 8px 8px 8px;
    }

    dialog figcaption {
        font-weight: 500;
        font-size: 22px;
        padding-top: 30px;

    }

    .close-button {
        top: 20px;
        right: 20px;
    }

    footer {
        padding: 20px;
        bottom: auto;
    }
}

@media (min-width: 701px) and (max-width: 1000px) {
    header {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 48px;
    }

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 50px 8px;
    }

    .photo {
        margin: 8px 8px;
    }

    dialog img {
        height: 50vh;
        width: 50vb;
        object-fit: cover;
    }

    figure {
        margin: 16px 8px 8px 8px;
    }

    dialog figcaption {
        font-weight: 600;
    }

    .close-button {
        top: 20px;
        right: 20px;
    }

    footer {
        bottom: auto;
    }

}

@media (min-width: 1001px) and (max-width: 1315px) {
    footer {
        bottom: auto;
    }
}